* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-color: rgb(41, 51, 91);
  --main-color-light: #5767aa;
  --secondary-color: #db2b39;
  --text-color: #eee;
}

header {
  display: flex;
  align-items: center;
  justify-content: left;
  height: 80px;
  padding: 0 2rem;
  color: var(--text-color);
  background: rgba(87, 103, 170, 0.5);
  z-index: 1000;
}

header h1 {
  margin-right: 30px;
}

header h1:hover {
  color: var(--secondary-color);
  cursor: pointer;
}

nav a {
  margin: 0 2rem;
  color: var(--text-color);
  text-decoration: none;
  font-size: 1.2rem;
}

nav a:hover {
  color: var(--secondary-color);
}

header .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--text-color);
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
  display: none;
}

header .account-btn {
  visibility: visible;
  opacity: 1;
  font-size: medium;
  margin-left: auto;
  display: flex;
}

header .account-settings-btn:hover {
  rotate: 60deg;
  transition: 1s;
}

header nav {
  display: contents;
}

header.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Adjust the z-index as needed */
  animation: fadeInDown 0.5s ease;
  background: rgba(58, 64, 157, 0.98);
}

@keyframes fadeInDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media only screen and (max-width: 1024px) {
  header {
    justify-content: space-between;
  }

  header .nav-btn {
    visibility: visible;
    opacity: 1;
    display: contents;
  }

  header nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    gap: 1.5rem;
    background-color: var(--main-color);
    transition: 1s;
    transform: translateY(-100vh);
  }

  header .responsive_nav {
    transform: none;
  }

  nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
    display: block;
  }

  nav .account-btn {
    position: absolute;
    top: 2rem;
    left: 2rem;
    display: block;
  }

  nav a {
    font-size: 1.5rem;
  }
}
